<%= content_for :'controller-name', 'session' %>
<%= content_for :'template-name', 'new' %>

<%= render layout: 'shared/wrapper', locals: { title: 'Login' } do %>

  <div flex horizontal layout center-justified center>
    <%= render 'form' %>
  </div>

<% end -%>

