<%= content_for :'controller-name', 'games' %>
<%= content_for :'template-name', 'finished' %>

<%= render layout: 'shared/wrapper',
  locals: { title: @game.name, icon: 'arrow-back', icon_href: games_path } do %>

  <div vertical layout center-justified center>
    <p>The <%= winner_of @game -%> won!</p>
  </div>

<% end -%>

