<%= content_for :'template-name', 'index' %>

<core-header-panel flex>
  <core-toolbar horizontal layout center>
    <paper-icon-button icon="radio-button-off" disabled></paper-icon-button>
    <p class="title"><%= Game::NAME %></p>
  </core-toolbar>

  <main flex horizontal layout center-justified>
    <section id="games">
      <my-games-list header="On-going games" status="ongoing" flex></my-games-list>

      <my-games-list header="Friends' games" status="initialising" flex></my-games-list>
    </section>

    <my-new-game-fab id="new-game"></my-new-game-fab>
  </main>
</core-header-panel>

