<%= content_for :'controller-name', 'games' %>
<%= content_for :'template-name', 'index' %>

<%= render layout: 'shared/wrapper' do %>

  <div vertical layout center>
    <%= render 'games' %>
  </div>

  <my-new-game-fab id="new-game"></my-new-game-fab>

<% end -%>

