<header>
  <h1>Games</h1>
</header>

<main data-template="index">
  <ul>
    <% @games.each do |game| %>
      <li>
        <%= link_to game.name, game %>
        (<%= number_of_spots_available(game: game) %> available)
      </li>
    <% end %>
  </ul>

  <p>
    <%= link_to 'New Game', new_game_path %>
  </p>
</main>

