<%= content_for :'template-name', 'new' %>

<core-header-panel flex>
  <core-toolbar horizontal layout center>
    <paper-icon-button icon="arrow-back" title="Back"></paper-icon-button>
    <p class="title"><%= Game::NAME %></p>
  </core-toolbar>

  <main flex horizontal layout center-justified center>
    <%= render 'form' %>
  </main>
</core-header-panel>

