<%= content_for :'controller-name', 'games' %>
<%= content_for :'template-name', 'new' %>

<%= render layout: 'shared/wrapper',
  locals: { title: Game::NAME, icon: 'arrow-back', icon_href: games_path } do %>

  <div vertical layout center-justified center>
    <%= render 'new_form' %>
  </div>

<% end -%>

