<%= content_for :'template-name', 'waiting' %>

<%= render 'header' %>

<main>
  <h2>Players:</h2>
  <ol>
  <% @game.players.each do |player| %>
    <li><%= "#{player.type} #{player.name}" %></li>
  <% end %>
  </ol>

  <%= link_to 'Back', games_path %>
</main>

