$blue_grey: #607d8b;
$blue: #2196f3;
$red: #f44336;
$yellow: #ffeb3b;
$orange: #ff9800;
$green: #cddc39;

$detective: $green;
$criminal: $orange;

$taxi: white;
$bus: $blue;
$underground: $red;
$boat: $blue_grey;

$turn: $yellow;

