// Material design colours
// http://www.google.com/design/spec/style/color.html#color-color-palette
$blue_grey_500: #607d8b
$blue_100: #bbdefb
$blue_500: #2196f3
$blue_700: #1976d2
$green_500: #cddc39
$grey_200: #eeeeee
$light_blue_100: #b3e5fc
$light_blue_500: #03a9f4
$light_blue_700: #0288d1
$orange_500: #ff9800
$orange_a100: #ffd180
$orange_a200: #ffab40
$orange_a400: #ff9100
$pink_500: #e91e63
$red_500: #f44336
$yellow_500: #ffeb3b

$black_12: rgba(black, 0.12)
$black_26: rgba(black, 0.26)
$black_54: rgba(black, 0.54)
$black_87: rgba(black, 0.87)
$black_100: black

$white_12: rgba(white, 0.12)
$white_30: rgba(white, 0.30)
$white_70: rgba(white, 0.70)
$white_100: white

// Application colours
$primary_500: $blue_500
$primary_100: $blue_100
$primary_700: $blue_700

$secondary_a200: $orange_a200
$secondary_a100: $orange_a100
$secondary_a400: $orange_a400

// Game colours
$detective: $green_500
$criminal: $orange_500

$taxi: white
$bus: $blue_500
$underground: $red_500
$boat: $blue_grey_500
$black: $black_26
$double_move: $yellow_500

$turn: $yellow_500

